In [2]:
import pandas as pd

df  = pd.read_csv('/content/Pakistan Largest Ecommerce Dataset.csv')
df.head()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
0,211131,complete,7/1/2016,kreations_YI 06-L,1950.0,1.0,1950.0,100147443.0,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,1.0,NaN,NaN,NaN,NaN,NaN
1,211133,canceled,7/1/2016,kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...,240.0,1.0,240.0,100147444.0,Beauty & Grooming,\N,...,7.0,2016-7,7-2016,FY17,2.0,NaN,NaN,NaN,NaN,NaN
2,211134,canceled,7/1/2016,Ego_UP0017-999-MR0,2450.0,1.0,2450.0,100147445.0,Women's Fashion,\N,...,7.0,2016-7,7-2016,FY17,3.0,NaN,NaN,NaN,NaN,NaN
3,211135,complete,7/1/2016,kcc_krone deal,360.0,1.0,60.0,100147446.0,Beauty & Grooming,R-FSD-52352,...,7.0,2016-7,7-2016,FY17,4.0,NaN,NaN,NaN,NaN,NaN
4,211136,order_refunded,7/1/2016,BK7010400AG,555.0,2.0,1110.0,100147447.0,Soghaat,\N,...,7.0,2016-7,7-2016,FY17,5.0,NaN,NaN,NaN,NaN,NaN

In [3]:
df.tail()

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
20195,236245,complete,8/31/2016,itter_AB 1211,250.0,1.0,250.0,100164507.0,Beauty & Grooming,C-LHC-43842,...,8.0,2016-7,8-2016,FY17,163.0,NaN,NaN,NaN,NaN,NaN
20196,236247,complete,8/31/2016,itter_AB 1211,250.0,1.0,250.0,100164509.0,Beauty & Grooming,C-LHC-43842,...,8.0,2016-7,8-2016,FY17,163.0,NaN,NaN,NaN,NaN,NaN
20197,236248,complete,8/31/2016,Fmate_Chicken Haleem,199.0,1.0,199.0,100164510.0,Superstore,\N,...,8.0,2016-8,8-2016,FY17,5439.0,NaN,NaN,NaN,NaN,NaN
20198,236249,complete,8/31/2016,Infinix Hot 4 Nationwide-Black,12599.0,1.0,12599.0,100164511.0,\N,\N,...,8.0,2016-8,8-2016,FY17,5446.0,NaN,NaN,NaN,NaN,NaN
20199,236251,complete,8/31/2016,kcc_krone deal,36.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.shape

(20200, 26)

In [10]:
df.dtypes

item_id                    int64
status                    object
created_at                object
sku                       object
price                    float64
qty_ordered              float64
grand_total              float64
increment_id             float64
category_name_1           object
sales_commission_code     object
discount_amount          float64
payment_method            object
Working Date              object
BI Status                 object
 MV                       object
Year                     float64
Month                    float64
Customer Since            object
M-Y                       object
FY                        object
Customer ID              float64
Unnamed: 21              float64
Unnamed: 22              float64
Unnamed: 23              float64
Unnamed: 24              float64
Unnamed: 25              float64
dtype: object

In [11]:
df.describe()

,item_id,price,qty_ordered,grand_total,increment_id,discount_amount,Year,Month,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
count,20200.000000,20200.000000,20199.000000,2.019900e+04,2.019900e+04,20199.000000,20199.0,20199.000000,20199.000000,0.0,0.0,0.0,0.0,0.0
mean,223445.133465,3426.479752,1.137086,4.873119e+03,1.001559e+08,12.632913,2016.0,7.562503,1629.392247,NaN,NaN,NaN,NaN,NaN
std,7509.814350,11210.370033,1.177810,2.741935e+04,5.014467e+03,347.120201,0.0,0.496090,1589.392792,NaN,NaN,NaN,NaN,NaN
min,211131.000000,0.000000,1.000000,0.000000e+00,1.001474e+08,0.000000,2016.0,7.000000,1.000000,NaN,NaN,NaN,NaN,NaN
25%,216827.750000,240.000000,1.000000,3.000000e+02,1.001515e+08,0.000000,2016.0,7.000000,163.000000,NaN,NaN,NaN,NaN,NaN
50%,222854.500000,399.000000,1.000000,6.300000e+02,1.001558e+08,0.000000,2016.0,8.000000,1075.000000,NaN,NaN,NaN,NaN,NaN
75%,230362.250000,1200.000000,1.000000,1.800000e+03,1.001603e+08,0.000000,2016.0,8.000000,2745.000000,NaN,NaN,NaN,NaN,NaN
max,236251.000000,235000.000000,130.000000,1.280473e+06,1.001645e+08,30819.230000,2016.0,8.000000,5446.000000,NaN,NaN,NaN,NaN,NaN

In [16]:
df['price'].describe()

count     20200.000000
mean       3426.479752
std       11210.370033
min           0.000000
25%         240.000000
50%         399.000000
75%        1200.000000
max      235000.000000
Name: price, dtype: float64

In [23]:
df.iloc[1]

item_id                                                             211133
status                                                            canceled
created_at                                                        7/1/2016
sku                      kcc_Buy 2 Frey Air Freshener & Get 1 Kasual Bo...
price                                                                240.0
qty_ordered                                                            1.0
grand_total                                                          240.0
increment_id                                                   100147444.0
category_name_1                                          Beauty & Grooming
sales_commission_code                                                   \N
discount_amount                                                        0.0
payment_method                                                         cod
Working Date                                                      7/1/2016
BI Status                                                            Gross
 MV                                                                   240
Year                                                                2016.0
Month                                                                  7.0
Customer Since                                                      2016-7
M-Y                                                                 7-2016
FY                                                                    FY17
Customer ID                                                            2.0
Unnamed: 21                                                            NaN
Unnamed: 22                                                            NaN
Unnamed: 23                                                            NaN
Unnamed: 24                                                            NaN
Unnamed: 25                                                            NaN
Name: 1, dtype: object

In [24]:
df.loc[2]

item_id                              211134
status                             canceled
created_at                         7/1/2016
sku                      Ego_UP0017-999-MR0
price                                2450.0
qty_ordered                             1.0
grand_total                          2450.0
increment_id                    100147445.0
category_name_1             Women's Fashion
sales_commission_code                    \N
discount_amount                         0.0
payment_method                          cod
Working Date                       7/1/2016
BI Status                             Gross
 MV                                  2,450
Year                                 2016.0
Month                                   7.0
Customer Since                       2016-7
M-Y                                  7-2016
FY                                     FY17
Customer ID                             3.0
Unnamed: 21                             NaN
Unnamed: 22                             NaN
Unnamed: 23                             NaN
Unnamed: 24                             NaN
Unnamed: 25                             NaN
Name: 2, dtype: object

In [29]:
df.sort_values(by = 'price')

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
8771,221032,complete,7/31/2016,stinnos_1301,0.0,1.0,55.0,100154667.0,Kids & Baby,\N,...,7.0,2016-7,7-2016,FY17,607.0,NaN,NaN,NaN,NaN,NaN
12360,226329,complete,8/8/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,155.0,100157822.0,Soghaat,\N,...,8.0,2016-8,8-2016,FY17,2875.0,NaN,NaN,NaN,NaN,NaN
13616,228333,complete,8/10/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,1460.0,100158982.0,Soghaat,\N,...,8.0,2016-7,8-2016,FY17,350.0,NaN,NaN,NaN,NaN,NaN
13155,227607,canceled,8/9/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,0.0,100158556.0,Soghaat,\N,...,8.0,2016-8,8-2016,FY17,3128.0,NaN,NaN,NaN,NaN,NaN
6598,218538,canceled,7/26/2016,"west point_Deluxe Juicer, Blender & Grinder - ...",0.0,1.0,0.0,100152813.0,Appliances,\N,...,7.0,2016-7,7-2016,FY17,1961.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
16842,232384,canceled,8/19/2016,Apple IMac 21.5-Inch 2.9GHz dual-core Intel Co...,189000.0,1.0,847024.0,100161757.0,Computing,\N,...,8.0,2016-8,8-2016,FY17,4400.0,NaN,NaN,NaN,NaN,NaN
2274,213734,canceled,7/12/2016,s_tv_KDL-60W600B,190725.0,1.0,190725.0,100149155.0,Entertainment,\N,...,7.0,2016-7,7-2016,FY17,740.0,NaN,NaN,NaN,NaN,NaN
8696,220956,canceled,7/30/2016,Apple Mac Book Pro 13-inch Retina Display 2.9 GHz,209000.0,1.0,209000.0,100154638.0,\N,\N,...,7.0,2016-7,7-2016,FY17,2354.0,NaN,NaN,NaN,NaN,NaN
16843,232385,canceled,8/19/2016,MACBOOK PRO 15-INCH 2.2GHZ QuadCore i7,235000.0,1.0,847024.0,100161757.0,Computing,\N,...,8.0,2016-8,8-2016,FY17,4400.0,NaN,NaN,NaN,NaN,NaN
11499,225069,canceled,8/6/2016,MACBOOK PRO 15-INCH 2.2GHZ QuadCore i7,235000.0,1.0,235000.0,100157084.0,Computing,\N,...,8.0,2016-8,8-2016,FY17,2967.0,NaN,NaN,NaN,NaN,NaN

In [33]:
df.sort_values(by = 'price' , ascending = False)

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
16843,232385,canceled,8/19/2016,MACBOOK PRO 15-INCH 2.2GHZ QuadCore i7,235000.0,1.0,847024.0,100161757.0,Computing,\N,...,8.0,2016-8,8-2016,FY17,4400.0,NaN,NaN,NaN,NaN,NaN
11499,225069,canceled,8/6/2016,MACBOOK PRO 15-INCH 2.2GHZ QuadCore i7,235000.0,1.0,235000.0,100157084.0,Computing,\N,...,8.0,2016-8,8-2016,FY17,2967.0,NaN,NaN,NaN,NaN,NaN
8696,220956,canceled,7/30/2016,Apple Mac Book Pro 13-inch Retina Display 2.9 GHz,209000.0,1.0,209000.0,100154638.0,\N,\N,...,7.0,2016-7,7-2016,FY17,2354.0,NaN,NaN,NaN,NaN,NaN
2274,213734,canceled,7/12/2016,s_tv_KDL-60W600B,190725.0,1.0,190725.0,100149155.0,Entertainment,\N,...,7.0,2016-7,7-2016,FY17,740.0,NaN,NaN,NaN,NaN,NaN
16842,232384,canceled,8/19/2016,Apple IMac 21.5-Inch 2.9GHz dual-core Intel Co...,189000.0,1.0,847024.0,100161757.0,Computing,\N,...,8.0,2016-8,8-2016,FY17,4400.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6603,218542,canceled,7/26/2016,"west point_Deluxe Juicer, Blender & Grinder - ...",0.0,1.0,0.0,100152817.0,Appliances,\N,...,7.0,2016-7,7-2016,FY17,1962.0,NaN,NaN,NaN,NaN,NaN
8710,220970,canceled,7/31/2016,stinnos_1500,0.0,1.0,0.0,100154648.0,Kids & Baby,\N,...,7.0,2016-7,7-2016,FY17,2361.0,NaN,NaN,NaN,NaN,NaN
7004,218988,canceled,7/27/2016,"west point_Deluxe Juicer, Blender & Grinder - ...",0.0,1.0,0.0,100153144.0,Appliances,\N,...,7.0,2016-7,7-2016,FY17,1085.0,NaN,NaN,NaN,NaN,NaN
14846,230008,canceled,8/13/2016,NaN,0.0,1.0,0.0,100160070.0,\N,\N,...,8.0,2016-8,8-2016,FY17,3468.0,NaN,NaN,NaN,NaN,NaN
8419,220637,canceled,7/30/2016,stinnos_1500,0.0,1.0,0.0,100154393.0,Kids & Baby,\N,...,7.0,2016-7,7-2016,FY17,607.0,NaN,NaN,NaN,NaN,NaN

In [35]:
df['price'].head()

0    1950.0
1     240.0
2    2450.0
3     360.0
4     555.0
Name: price, dtype: float64

In [37]:
df[df['price'] == 0]

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
6598,218538,canceled,7/26/2016,"west point_Deluxe Juicer, Blender & Grinder - ...",0.0,1.0,0.0,100152813.0,Appliances,\N,...,7.0,2016-7,7-2016,FY17,1961.0,NaN,NaN,NaN,NaN,NaN
6603,218542,canceled,7/26/2016,"west point_Deluxe Juicer, Blender & Grinder - ...",0.0,1.0,0.0,100152817.0,Appliances,\N,...,7.0,2016-7,7-2016,FY17,1962.0,NaN,NaN,NaN,NaN,NaN
7004,218988,canceled,7/27/2016,"west point_Deluxe Juicer, Blender & Grinder - ...",0.0,1.0,0.0,100153144.0,Appliances,\N,...,7.0,2016-7,7-2016,FY17,1085.0,NaN,NaN,NaN,NaN,NaN
8298,220494,canceled,7/29/2016,stinnos_1301,0.0,1.0,0.0,100154287.0,Kids & Baby,C-MUX102551,...,7.0,2016-7,7-2016,FY17,2247.0,NaN,NaN,NaN,NaN,NaN
8333,220540,canceled,7/29/2016,stinnos_1301,0.0,10.0,0.0,100154316.0,Kids & Baby,\N,...,7.0,2016-7,7-2016,FY17,2257.0,NaN,NaN,NaN,NaN,NaN
8343,220552,canceled,7/29/2016,stinnos_1301,0.0,1.0,0.0,100154323.0,Kids & Baby,\N,...,7.0,2016-7,7-2016,FY17,2257.0,NaN,NaN,NaN,NaN,NaN
8347,220557,canceled,7/29/2016,stinnos_1301,0.0,1.0,0.0,100154327.0,Kids & Baby,\N,...,7.0,2016-7,7-2016,FY17,2257.0,NaN,NaN,NaN,NaN,NaN
8358,220568,complete,7/29/2016,stinnos_1301,0.0,2.0,685.0,100154336.0,Kids & Baby,\N,...,7.0,2016-7,7-2016,FY17,1791.0,NaN,NaN,NaN,NaN,NaN
8419,220637,canceled,7/30/2016,stinnos_1500,0.0,1.0,0.0,100154393.0,Kids & Baby,\N,...,7.0,2016-7,7-2016,FY17,607.0,NaN,NaN,NaN,NaN,NaN
8710,220970,canceled,7/31/2016,stinnos_1500,0.0,1.0,0.0,100154648.0,Kids & Baby,\N,...,7.0,2016-7,7-2016,FY17,2361.0,NaN,NaN,NaN,NaN,NaN
8771,221032,complete,7/31/2016,stinnos_1301,0.0,1.0,55.0,100154667.0,Kids & Baby,\N,...,7.0,2016-7,7-2016,FY17,607.0,NaN,NaN,NaN,NaN,NaN
10330,223202,canceled,8/4/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,0.0,100156040.0,Soghaat,\N,...,8.0,2016-7,8-2016,FY17,1659.0,NaN,NaN,NaN,NaN,NaN
11054,224392,complete,8/5/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,70.0,100156701.0,Soghaat,\N,...,8.0,2016-8,8-2016,FY17,2875.0,NaN,NaN,NaN,NaN,NaN
12057,225886,refund,8/7/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,0.0,100157573.0,Soghaat,\N,...,8.0,2016-8,8-2016,FY17,3132.0,NaN,NaN,NaN,NaN,NaN
12165,226019,complete,8/8/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,70.0,100157647.0,Soghaat,\N,...,8.0,2016-8,8-2016,FY17,3184.0,NaN,NaN,NaN,NaN,NaN
12360,226329,complete,8/8/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,155.0,100157822.0,Soghaat,\N,...,8.0,2016-8,8-2016,FY17,2875.0,NaN,NaN,NaN,NaN,NaN
13155,227607,canceled,8/9/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,0.0,100158556.0,Soghaat,\N,...,8.0,2016-8,8-2016,FY17,3128.0,NaN,NaN,NaN,NaN,NaN
13616,228333,complete,8/10/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,1460.0,100158982.0,Soghaat,\N,...,8.0,2016-7,8-2016,FY17,350.0,NaN,NaN,NaN,NaN,NaN
14106,229092,canceled,8/11/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,0.0,100159424.0,Soghaat,\N,...,8.0,2016-8,8-2016,FY17,3538.0,NaN,NaN,NaN,NaN,NaN
14165,229175,canceled,8/11/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,1259.0,100159478.0,Soghaat,\N,...,8.0,2016-8,8-2016,FY17,3548.0,NaN,NaN,NaN,NaN,NaN
14326,229372,canceled,8/11/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,150.0,100159613.0,Soghaat,\N,...,8.0,2016-8,8-2016,FY17,3599.0,NaN,NaN,NaN,NaN,NaN
14846,230008,canceled,8/13/2016,NaN,0.0,1.0,0.0,100160070.0,\N,\N,...,8.0,2016-8,8-2016,FY17,3468.0,NaN,NaN,NaN,NaN,NaN

In [39]:
var = df['price']>200000
df[var]

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
8696,220956,canceled,7/30/2016,Apple Mac Book Pro 13-inch Retina Display 2.9 GHz,209000.0,1.0,209000.0,100154638.0,\N,\N,...,7.0,2016-7,7-2016,FY17,2354.0,NaN,NaN,NaN,NaN,NaN
11499,225069,canceled,8/6/2016,MACBOOK PRO 15-INCH 2.2GHZ QuadCore i7,235000.0,1.0,235000.0,100157084.0,Computing,\N,...,8.0,2016-8,8-2016,FY17,2967.0,NaN,NaN,NaN,NaN,NaN
16843,232385,canceled,8/19/2016,MACBOOK PRO 15-INCH 2.2GHZ QuadCore i7,235000.0,1.0,847024.0,100161757.0,Computing,\N,...,8.0,2016-8,8-2016,FY17,4400.0,NaN,NaN,NaN,NaN,NaN

In [42]:
var1 = df['price'].between(0 , 100)
df[var1].sort_values(by = 'price')

,item_id,status,created_at,sku,price,qty_ordered,grand_total,increment_id,category_name_1,sales_commission_code,...,Month,Customer Since,M-Y,FY,Customer ID,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25
8419,220637,canceled,7/30/2016,stinnos_1500,0.0,1.0,0.0,100154393.0,Kids & Baby,\N,...,7.0,2016-7,7-2016,FY17,607.0,NaN,NaN,NaN,NaN,NaN
8358,220568,complete,7/29/2016,stinnos_1301,0.0,2.0,685.0,100154336.0,Kids & Baby,\N,...,7.0,2016-7,7-2016,FY17,1791.0,NaN,NaN,NaN,NaN,NaN
14326,229372,canceled,8/11/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,150.0,100159613.0,Soghaat,\N,...,8.0,2016-8,8-2016,FY17,3599.0,NaN,NaN,NaN,NaN,NaN
14165,229175,canceled,8/11/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,1259.0,100159478.0,Soghaat,\N,...,8.0,2016-8,8-2016,FY17,3548.0,NaN,NaN,NaN,NaN,NaN
13616,228333,complete,8/10/2016,cr_PEANUT CHIKKIE SPECIAL,0.0,1.0,1460.0,100158982.0,Soghaat,\N,...,8.0,2016-7,8-2016,FY17,350.0,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2572,214073,order_refunded,7/13/2016,UK_Namkino Coated Peanuts 200 Gms,100.0,1.0,100.0,100149402.0,Soghaat,R-PEW-104414,...,7.0,2016-7,7-2016,FY17,230.0,NaN,NaN,NaN,NaN,NaN
2573,214074,order_refunded,7/13/2016,UK_Namkino Coated Peanuts 200 Gms,100.0,1.0,100.0,100149403.0,Soghaat,R-PEW-104414,...,7.0,2016-7,7-2016,FY17,230.0,NaN,NaN,NaN,NaN,NaN
17403,233052,complete,8/22/2016,UK_Namkino Badshahi Mix 200 Gms,100.0,1.0,790.0,100162204.0,Soghaat,\N,...,8.0,2016-8,8-2016,FY17,2858.0,NaN,NaN,NaN,NaN,NaN
17583,233261,canceled,8/22/2016,UK_Namkino Crunchy Nut Mix 200 Gms,100.0,1.0,100.0,100162343.0,Soghaat,\N,...,8.0,2016-8,8-2016,FY17,4655.0,NaN,NaN,NaN,NaN,NaN
9063,221367,complete,8/1/2016,UK_Namkino Coated Peanuts 200 Gms,100.0,4.0,400.0,100154916.0,Soghaat,R-PEW-104414,...,8.0,2016-7,8-2016,FY17,230.0,NaN,NaN,NaN,NaN,NaN